body {
  font-family: sans-serif;
  margin: auto;
  max-width: 60%;
}
ul{
  list-style-type: '';
}
.toggleable{
  display: inline-block;
  padding: 10pt;
  border-radius: 5pt;
  margin: 5pt;
}
.toggleable[state="1"]{
  background-color: #9e9;
}
.toggleable[state="1"]:before{
  content:"✔ - "
}

.toggleable[state="0"]{
  background-color: #e99;
}
.toggleable[state="0"]:before{
  content:"✘ - "
}

.toggleable[state="2"]{
  background-color: #99e;
}

*[hidden="1"]{
    display:none;
}

